<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head>
  <meta charset="ISO-8859-1">
  <title>Employee Management System</title>
  <link rel="stylesheet"
        href="https://cdn.jsdelivr.net/npm/bootswatch@4.5.2/dist/cyborg/bootstrap.min.css"
        integrity="sha384-nEnU7Ae+3lD52AK+RGNzgieBWMnEfgTbRHIwEvp1XXPdqdO6uLTd/NwXbzboqjc2"
        crossorigin="anonymous">
  <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.bundle.min.js"></script>
  <script>
    function openPopup(id){
      let confirmAction = confirm("Are you sure about that?");
      if (confirmAction) {
        window.location = '/deleteEmployee/'+id;
      }
    }
  </script>
</head>
<body>
<nav class="navbar navbar-expand-lg navbar-dark bg-secondary">
  <div class="collapse navbar-collapse">
    <ul class="navbar-nav">
      <li class="nav-item ">
        <a class=nav-link th:href="@{/}">Home</a>
      </li>
      <li class="nav-item">
        <a sec:authorize=hasRole("ADMIN") class=nav-link th:href="@{/showNewSubject}">Add subject</a>
      </li>
      <li class="nav-item">
        <a sec:authorize=hasRole("ADMIN") class=nav-link th:href="@{/viewUser}">Users</a>
      </li>
      <li class="nav-item">
        <a sec:authorize=hasRole("STUDENT") class=nav-link th:href="@{/timetable/{userName}(userName=${#authentication.name})}">Timetable</a>
      </li>
    </ul>
  </div>
  <ul class="nav navbar-nav dropleft">
    <li class="nav-item dropdown">
      <a class="nav-link dropdown-toggle" data-bs-toggle="dropdown">
        <img src="https://icon-library.com/images/profile-icon-white/profile-icon-white-1.jpg" width="30" height="25">
      </a>
      <div class="dropdown-menu text-capitalize">
        <div sec:authorize="isAuthenticated()" sec:authentication="name" class="ml-4"></div>
        <a class="dropdown-item" sec:authorize="isAuthenticated()" href="/logout">Log Out</a>
        <a class="dropdown-item" sec:authorize="isAnonymous()" href="/login">Log In</a>
      </div>
    </li>
  </ul>
</nav>
<div class="container my-2">
  <h1 sec:authorize="hasRole('USER')">Employees List</h1>
  <h1 sec:authorize="hasRole('ADMIN')">Employee Administration</h1>
  <a sec:authorize="hasRole('ADMIN')" th:href="@{/showNewUser}" class="btn mb-2 mt-4 btn-primary"> Add Employee </a>
  <table class="table table-responsive-md">
    <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th sec:authorize="hasRole('ADMIN')">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="user:${listOfUsers}">
      <td th:text="${user.firstName}"></td>
      <td th:text="${user.lastName}"></td>
      <td sec:authorize="hasRole('ADMIN')">
        <a th:href="@{/updateUser/{id}(id=${user.id})}" class="btn btn-primary mr-2">Edit</a>
        <a class="btn btn-danger" th:attr="onclick=|openPopup('${user.id}')|">Delete</a>
      </td>
    </tr>
    </tbody>
  </table>
</div>
</body>
</html>